#titre1 {
  margin: 15px 0px 15px 0px;
  padding: 15px 0px 15px 0px;
  text-align: center;
  font-size: 1.8em;
}

#titre2 {
  margin: 15px 0px 15px 0px;
  padding: 15px 0px 15px 0px;
  text-align: center;
  font-size: 1.8em;
}

.list-group-item {
  background-color: rgba(17, 17, 17, 0.7);
}
