#location {
  margin-right: 4px;
}

#tel {
  margin-right: 4px;
}

#mail {
  margin-right: 4px;
}

#mailtxt {
  text-decoration: none;
  border-bottom: 1px whitesmoke solid;
  color: whitesmoke;
  margin-left: 0.3em;
}

#adresse1 {
  border: 1px rgb(13, 202, 240) solid;
  border-radius: 5px / 5px;
}

#adresse2 {
  border: 1px rgb(13, 202, 240) solid;
  border-radius: 5px / 5px;
}

#adresse3 {
  border: 1px rgb(13, 202, 240) solid;
  border-radius: 5px / 5px;
}

#adresse4 {
  border: 1px rgb(13, 202, 240) solid;
  border-radius: 5px / 5px;
}

h6 {
  text-align: center;
}

h4 {
  text-align: center;
}

#about {
  border: 2px rgb(13, 202, 240) solid;
  border-radius: 7px / 7px;
  background-color: rgba(17, 17, 17, 0.7);
  color: whitesmoke;
}

#story {
  border: 2px rgb(13, 202, 240) solid;
  border-radius: 7px / 7px;
  background-color: rgba(17, 17, 17, 0.7);
  color: whitesmoke;
  /* margin-left: 1%; */
}

#boxadress {
  border: 2px rgb(13, 202, 240) solid;
  border-radius: 7px / 7px;
  background-color: rgba(17, 17, 17, 0.7);
  color: whitesmoke;
}

#map {
  height: 350px;
  border: 2px rgb(13, 202, 240) solid;
  border-radius: 7px / 7px;
}

#horaire {
  border: 2px rgb(13, 202, 240) solid;
  border-radius: 7px / 7px;
  background-color: rgba(17, 17, 17, 0.7);
}

#flexhor {
  display: flex;
  justify-content: space-between;
}
