@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");

#logo-nav1 {
  height: 130px;
  border: 3px rgb(255, 255, 255) solid;
  border-radius: 7px / 8px;
  background-color: rgba(28, 22, 20, 0.9);
  padding: 5px 5px 0px 5px;
  color: rgb(252, 252, 251);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Italianno", cursive;
  font-size: 1.4em;
  font-weight: bold;
}

#burger-log {
  filter: invert(100%);
}

#logo-nav {
  margin-left: 15px;
}

#btnham {
  margin-right: 15px;
}

#logo-article {
  width: 200px;
  height: 200px;
  border: 3px rgb(255, 255, 255) solid;
  border-radius: 7px / 8px;
  background-color: rgba(28, 22, 20, 0.9);
  padding: 5px 5px 0px 5px;
  color: rgb(252, 252, 251);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Italianno", cursive;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin: auto;
}

#jombo {
  text-align: center;
}

#cards {
  margin-top: 30px;
}

#footer {
  margin-top: 30px;
  padding-top: 15px;
}

#fbk,
#yelp,
#trip,
#four {
  filter: invert(100%);
}

#logo {
  text-align: center;
}
