@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");

#logo-nav1 {
  height: 130px;
  border: 3px rgb(255, 255, 255) solid;
  border-radius: 7px / 8px;
  background-color: rgba(28, 22, 20, 0.9);
  padding: 5px 5px 0px 5px;
  color: rgb(252, 252, 251);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Italianno", cursive;
  font-size: 1.4em;
  font-weight: bold;
}

#burger-log {
  filter: invert(100%);
}

#logo-nav {
  margin-left: 15px;
}

#btnham {
  margin-right: 15px;
}

#logo-article {
  width: 200px;
  height: 200px;
  border: 3px rgb(255, 255, 255) solid;
  border-radius: 7px / 8px;
  background-color: rgba(28, 22, 20, 0.9);
  padding: 5px 5px 0px 5px;
  color: rgb(252, 252, 251);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Italianno", cursive;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin: auto;
}

#burger-log2 {
  height: 150px;
  filter: invert(100%);
}

#jombo {
  text-align: center;
}

#cards {
  margin-top: 30px;
}

#footer {
  margin-top: 30px;
  padding-top: 15px;
}

#fbk,
#yelp,
#trip,
#four {
  filter: invert(100%);
}

#logo {
  text-align: center;
}

#logo a {
  margin-right: 20px;
}

#logo img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#logo img:hover {
  transform: scale(1.4);
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
}

#footernom {
  text-align: center;
}

#titrefoot {
  font-family: "Italianno", cursive;
  font-size: 1.5em;
}

#contacter {
  color: rgb(252, 252, 251);
  text-decoration: none;
}

#contacter:hover {
  border-bottom: 2px rgb(252, 252, 251) solid;
}

#footernom :first-child {
  padding-top: 10px;
}
